/* Global reset and fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9fafb;
  color: #333;
}
